// views/emails/base.pug
doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    table(width="100%" cellpadding="0" cellspacing="0")
      tr
        td
          table(width="600" cellpadding="0" cellspacing="0" align="center")
            tr
              td
                block content
            tr
              td(align="center")
                p
                  small You received this email because you're subscribed to our notifications.
                  br
                  a(href=`/preferences/notifications`) Manage Preferences
                  |  | 
                  a(href=`/unsubscribe?email=${email}`) Unsubscribe

